/*-------------Footer--------------------*/
.footer {
    height: 300px;
    background-color: #13171c;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navegacion {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(width > 720px) {
    .secciones {
        flex-direction: row;
    }
}

.icon {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon__text{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #eee;
    padding: 5px;
    transition: 0.1s;
}
.icon__text:hover{
    background-color: #222932;
    color: #fff;
    border: 1px #eee;
    border-style: ridge;
    border-radius: 10px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin-top: 10px;
}

.redes__img {
    width: 38px;
    height: 38px;
    transition: transform 0.1s;
}
.redes__img:hover{
    transform: scale(1.3);  
}